/* ACRTIC STYLE USING ANIMATIONS */

/* ANIMATION REF https://www.w3schools.com/cssref/tryit.php?filename=trycss_anim_background-position */
/* this makes the gradient loop from left to right nonstop */
@keyframes arctic-gradient-loop {
    50%  { background-position: center; }
  
}

.is-style-arctic {
    /* shape */
    display: block;
    padding: 4rem;
    border-radius: 5rem;
    margin: 2rem 0;

    /* animated gradient */
    background: linear-gradient(
        400deg,
        var(--wp--preset--color--arctic-base),
        var(--wp--preset--color--arctic-color),
        var(--wp--preset--color--arctic-base)
    );

    /* had to do some research bc i had an 
    issue where my animation is not working, background-size is actually
    needed for it to work */
    background-size: 300% 300%;

    animation: arctic-gradient-loop  6s ease infinite;

    /* filter effect on top */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /* variable */
    --arctic-accent: var(--wp--preset--color--arctic-color);

    /* border */
    border: 3px solid rgb(from var(--arctic-accent) r g b / 0.4);

    box-shadow:
        /* frost effect inner */
        inset 0 0 20px rgb(from var(--arctic-accent) r g b / 0.9);

    /* typography */
    color: var(--wp--preset--color--arctic-text);
}