/* .is-style-{name} is automatically added by WP to a block wrappers element when you select your block style variant */

.is-style-glow {
    /* shape */
    display: block;
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem 0;

    /* material */
    background-color: var(--wp--preset--color--glow-base);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);

    /* variable */
    --glow: var(--wp--preset--color--glow-color);

    /* border */
    border: 0.0625rem solid rgb(from var(--glow) r g b / 0.5);

    /* box shdaow */
    box-shadow:
        /* outer halo */
        0 0 1rem rgb(from var(--glow) r g b / .75),
        /* inner light */
        inset 0 0 0.625rem rgb(from var(--glow) r g b / 0.45);

    /* typography */
    color: var(--wp--preset--color--p-text);
    transition: all 0.5s ease;
}

/* glow on hover */
p.is-style-glow:hover {

    /* lift slightly */
    transform: translateY(-4px);

    /* box shadows for glow */
    --glow: var(--wp--preset--color--glow-color);
    box-shadow:
        /* light source */
        0 0 0.625rem var(--glow),
        /* halo effect */
        0 0 2.5rem rgb(from var(--glow) r g b / 0.6),
        /* ambient light */
        0 0 5rem rgb(from var(--glow) r g b / 0.2);

    /* border color */
    border-color: var(--wp--preset--color--glow-color);
}